<p-toast position="top-right"></p-toast>

    <p-card >  
      <!-- Connexion -->
      <div *ngIf="!showRegister()">
        <h2 class="text-xl font-semibold mb-5 text-center">Connexion</h2>
        <form [formGroup]="loginForm" (ngSubmit)="submitLogin()" class="text-center">
          <div class="form-field">
            <label style="display: flex; flex: auto; justify-content: center !important;">Email</label>
            <input pInputText formControlName="email" />
          </div>
  
          <div class="form-field">
            <label style="display: flex; flex: auto; justify-content: center !important;">Mot de passe</label>
            <input pInputText type="password" formControlName="password"/>
          </div>
  
          <p-button
            label="Se connecter"
            type="submit"
            [disabled]="!loginForm.valid || loading()"
            class="w-full mt-3">
          </p-button>
        </form>
  
        <p class="mt-3 text-center text-sm">
          <a (click)="showRegister.set(true)" class="text-blue-600 cursor-pointer">Créer un compte</a>
        </p>
      </div>
  
      <!-- Inscription -->
      <div *ngIf="showRegister()">
        <h2 class="text-xl font-semibold mb-5 text-center">Créer un compte</h2>
        <form [formGroup]="registerForm" (ngSubmit)="submitRegister()" class="text-center">
          <div class="form-field">
            <label style="display: flex; flex: auto; justify-content: center !important;">Prénom</label>
            <input pInputText formControlName="firstname"  />
          </div>
  
          <div class="form-field">
            <label style="display: flex; flex: auto; justify-content: center !important;">Nom d'utilisateur</label>
            <input pInputText formControlName="username"  />
          </div>
  
          <div class="form-field">
            <label style="display: flex; flex: auto; justify-content: center !important;">Email</label>
            <input pInputText formControlName="email"  />
          </div>
  
          <div class="form-field">
            <label style="display: flex; flex: auto; justify-content: center !important;">Mot de passe</label>
            <input pInputText type="password" formControlName="password" />
          </div>
  
          <p-button
            label="Créer"
            type="submit"
            [disabled]="!registerForm.valid || loading()"
            class="w-full mt-3">
          </p-button>
        </form>
  
        <p class="mt-3 text-center text-sm">
          <a (click)="showRegister.set(false)" class="text-blue-600 cursor-pointer">Retour à la connexion</a>
        </p>
      </div>

    </p-card>
